{% block body %}
<div class="ui stackable two column grid">
    <div class="row">
        <div class="column">
            <h3 class="ui top attached header">{{ dictionary.class.tab_one.chart_one.name}} </h3>
            <div class="row">
                <div class="ui right aligned grid">
                      <div class="sixteen wide column">
                        <div id="chart-one-toggle" class="ui toggle checkbox">
                            <input type="checkbox" name="notifications" title="Notifications">
                            <label>Changer de représentativité</label>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                {% include 'User/Class/Student/Score/chart_one.twig' %}
            </div>
        </div>
        <div class="column">
            {% include 'User/Class/Student/Score/chart_two.twig'  %}
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>

    <script>
        $(function () {
            $('#chart-one-toggle').on('click', () => {
                $('#chart_one').toggle();
            });
        });
    </script>
{% endblock %}