{% block body %}
<div class="ui stackable two column grid">
    <div class="row">
        <div class="column">
            <h3 class="ui top attached header">{{ dictionary.class.tab_one.chart_one.name}}</h3>
            <div class="row">
                <div id="left-toggle" class="ui right floated toggle checkbox">
                    <input type="checkbox" name="notifications" title="Notifications">
                    <label></label>
                </div>
            </div>
            {% include 'User/Class/Student/Score/chart_one.twig' %}
        </div>
        <div class="column">
            {% include 'User/Class/Student/Score/chart_two.twig'  %}
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>

    <script>
        $(function () {
            $('#left-toggle').on('click', () => {
                $('#chart_one').toggle();
            });
        });
    </script>
{% endblock %}