# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

### ------------ Symfony Settings ------------ ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=THIS_TOKEN_IS_NOT_SECRET_CHANGE_IT

### ------------ NO SQL Setings (MongoDB) ------------ ###
DB_HOST=""             # if replica set, add a comma after each host eg: "http://foo,http://bar,http://foobar"
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_OPT_REPLICASET=0    # if replica set is enabled : 1 , else : 0

### ------------ CAS Settings ------------ ###
CAS_HOST=
CAS_PORT=

### ------------ LDAP Settings ------------ ###
LDAP_HOST=
LDAP_PORT=
LDAP_BASE_DN=''
LDAP_USERNAME=''
LDAP_PASSWORD=

### ------------ API Settings ------------ ###
API_URI=''             # must starts with 'http://' or 'https://' and ends with '/'
API_USERNAME=
API_PASSWORD=

### ------------ Administrators List ------------ ###
# Names given must belong to an LDAP uid ; must be separated by a comma - eg: "foo,bar,foobar"
ADMINISTRATORS=""

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=1cfd7f85ef712befde6a16f1e2d9e8fa
# 127.0.0.1,127.0.0.2
# localhost,example.com
###< symfony/framework-bundle ###
