<div class="ui segment">
    <div class="ui two column grid">
        <div class="column">
            <h4 class="ui center aligned icon header">
                <i class="circular check icon"></i>
            </h4>
            <div style="margin: 0 2em;">
                <h2>Score : 8.5</h2>
                <div class="ui segment">
                    <div class="ui three column grid">
                        <div class="column">
                            <h4 class="ui center aligned header">TITRE</h4>
                            <img src="https://via.placeholder.com/100x80">
                        </div>
                        <div class="column">
                            <h4 class="ui center aligned header">TITRE</h4>
                            <img src="https://via.placeholder.com/100x80">
                        </div>
                        <div class="column">
                            <h4 class="ui center aligned header">TITRE</h4>
                            <img src="https://via.placeholder.com/100x80">
                        </div>
                    </div>
                </div>

                <div class="ui segment">
                    <div class="ui one column grid">
                        <div class="column">
                            <h4 class="ui center aligned header">TITRE</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="column">
            <h4 class="ui center aligned icon header">
                <i class="circular chart line icon"></i>
            </h4>
                <div style="margin: 0 2em;">
                        <h2>TITRE</h2>
                       <img src="https://via.placeholder.com/500x250">
                </div>
        </div>
    </div>
    <div class="ui vertical divider"></div>
</div>