body {
    padding-top: 100px;
}

#navbar {
    background-color: #2574A9;
}

#logo {
    font-family: 'Sofia', cursive;
    margin-left: 0.5em;
    font-size: 1.3em;
    font-style: italic;
}

#user {
    min-width: 150px;
    text-align: center;
}

.sofia {
    font-family: 'Sofia', cursive;
}

.ui.cards > .card {
    width: 31.95%; /** To fit 3 cards in the container */
}