
@import 'media.scss';


.pusher {
  padding-top: 90px;
}

#navbar {
  background-color: #256aa9;
  height: 55px !important;
}

#view-as {
  margin-top: 55px;
  z-index: 12;
  background-color: #86130e;
  height: 37px !important;
  > p, a {
    line-height: 37px;
  }
}

#logout-button {
  a {
    color : #FD6426;
  }
}

.message-view {
  > a {
    color: #fff1fa;
    &:hover {
      color: #b4b4b4;
    }
  }
  margin-left: 23vw;
  color: #fff1fa;
}

#change-view {
  margin-left: 1em;
  color: white;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}

.popup {
  z-index: 45 !important;
  width: 14em !important;
  color: white !important;
  background-color: black !important;
  border-color: black !important;
  overflow: visible !important;
}

div.ui.popup.bottom {
  &.left.transition.visible::before, &.center.transition.visible::before {
    background-color: black !important;
    border-color: black !important;
  }
}

#leave-popup {
  margin-left: 23vw;
  width: 1%;
  margin-top: 80px;
  background-color: red;
}

/* Mobile and tablet timeline */
@media screen and (max-width: 992px) {
  .message-view {
    margin-left: 2vw;
  }
}

@media screen and (max-width: 669px) {
  .message-view, #change-view {
    font-size: 10px;
  }
}

.logo {
  width: 90px !important;
  + span {
    font-family: 'Sofia', cursive;
    margin-left: 0.5em;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
  }
}

#user {
  min-width: 150px;
  text-align: center;
}

.sofia {
  font-family: 'Sofia', cursive;
}

.ui.cards > .card {
  width: 31.95%;
  /** To fit 3 cards in the container */
}

.profile-header {
  font-size: 2em;
  font-weight: bolder;
}

.page-title {
  font-size: 2em;
  font-weight: bolder;
}

span.profile-city {
  color: #8d8d8d;
  padding-left: 1.2em;
}

.text-center {
  text-align: center;
}

#hamburger-menu {
  width: 2em;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2), &:nth-child(3) {
      top: 9px;
    }
    &:nth-child(4) {
      top: 18px;
    }
  }
  &.open span {
    &:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}

span.hamburger-item {
  font-size: 1.3em;
  margin-left: 1.8em;
}

#menu {
  font-weight: bold;
  margin-right: 1.3em;
  text-transform: uppercase;
}

.collapsible {
  display: none;
}

@media (min-height: 320px) {
  .site {
    display: flex;
    min-height: 100%;
    flex-direction: column;
  }
  .site-content {
    flex: 1;
  }
  .ui {
    &.footer.form-page {
      width: 100%;
      background-color: #414141;
      padding: 2em 0;
      margin-top: 5em;
    }
    &.link.list > a.item {
      color: #d2d7d3;
    }
    &.footer.form-page .ui.header {
      color: #d2d7d3;
      text-transform: uppercase;
    }
  }
  .footer-outro {
    border-top: 1px solid #d2d7d3;
    margin-top: 2.3em;
    padding-top: 1.2em;
    color: #d2d7d3;
  }
  .footer-icon {
    color: #d2d7d3 !important;
  }
  img.footer-logo {
    width: auto;
    height: 60px;
    -webkit-filter: opacity(0.53);
    filter: opacity(0.53);
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"], [class*="tablet only"]:not(.mobile), [class*="computer only"]:not(.mobile), [class*="large monitor only"]:not(.mobile), [class*="widescreen monitor only"]:not(.mobile), [class*="or lower hidden"] {
    display: none !important;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet), [class*="tablet hidden"], [class*="computer only"]:not(.tablet), [class*="large monitor only"]:not(.tablet), [class*="widescreen monitor only"]:not(.tablet), [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer), [class*="tablet only"]:not(.computer), [class*="computer hidden"], [class*="large monitor only"]:not(.computer), [class*="widescreen monitor only"]:not(.computer), [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large monitor"]), [class*="tablet only"]:not([class*="large monitor"]), [class*="computer only"]:not([class*="large monitor"]), [class*="large monitor hidden"], [class*="widescreen monitor only"]:not([class*="large monitor"]), [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen monitor"]), [class*="tablet only"]:not([class*="widescreen monitor"]), [class*="computer only"]:not([class*="widescreen monitor"]), [class*="large monitor only"]:not([class*="widescreen monitor"]), [class*="widescreen monitor hidden"], [class*="widescreen monitor or lower hidden"] {
    display: none !important;
  }
}

.cbp_tmtimeline {
  margin: 75px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    margin-left: 155px;
  }
  > li {
    position: relative;
    .cbp_tmtime {
      display: block;
      margin-right: 20%;
      position: absolute;
      span {
        display: block;
        text-align: right;
        &:first-child {
          font-size: 0.9em;
          color: #bdd0db;
          margin-top: -0.1em;
          margin-bottom: 0.9em;
          margin-right: 0.2em;
        }
        &:last-child {
          font-size: 2.5em;
          color: #3594cb;
          margin-right: 0.2em;
        }
      }
    }
    &:nth-child(odd) .cbp_tmtime span:last-child {
      color: #6cbfee;
    }
    .cbp_tmlabel {
      margin: 0 0 15px 245px;
      background: #3594cb;
      color: #fff;
      padding: 1.2em;
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.4;
      position: relative;
      border-radius: 5px;
    }
  }
}

/* The line */

/* The date/time */

/* Right content */

.cbp_tmlabel > {
  h2 {
    font-size: 1.3em;
  }
  p {
    font-size: 0.9em;
  }
}

.cbp_tmtimeline > li {
  &:nth-child(odd) .cbp_tmlabel {
    background: #6cbfee;
  }
  .cbp_tmlabel {
    h2 {
      margin-top: 0;
      padding: 0 0 10px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
    &:after {
      right: 100%;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border: 10px solid transparent;
      border-right-color: #3594cb;
      top: 10px;
    }
  }
  &:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #6cbfee;
  }
  .icon {
    width: 40px;
    height: 40px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    text-align: center;
    top: 10px;
    margin-left: 140px;
  }
}

/* The triangle */

/* The icons */

/* PROFILE TIMELINE */

.profile-timeline > .cbp_tmtimeline {
  &:before {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 0;
    width: 10px;
    background: #dfdfdf;
    margin-left: 155px;
  }
  > li {
    .icon {
      width: 40px;
      height: 40px;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      font-size: 1.4em;
      line-height: 40px;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      color: #fff;
      background: #8d8d8d;
      border-radius: 50%;
      box-shadow: 0 0 0 8px #d9d9d9;
      text-align: center;
      top: 10px;
      margin-left: 140px;
    }
    .cbp_tmtime span:last-child {
      font-size: 2.5em;
      color: #8d8d8d;
      margin-right: 0.2em;
    }
    &:nth-child(odd) .cbp_tmtime span:last-child {
      color: #bdbdbd;
    }
  }
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 47.2em) {
  .cbp_tmtimeline {
    &:before {
      display: none;
    }
    > li {
      .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
        span {
          text-align: left;
        }
      }
      .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
        &:after {
          right: auto;
          left: 20px;
          border-right-color: transparent;
          border-bottom-color: #3594cb;
          top: -20px;
        }
      }
      &:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: #6cbfee;
      }
      .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0px;
      }
    }
  }
}

/* ---- Timeline ---- */

.events-timeline {
  position: relative;
  height: 3px;
  margin-top: 100px;
  background: #dedcd9;
}

/* ---- Timeline elements ---- */

.dot-event {
  position: relative;
  display: inline-block;
  float: left;
  width: 12.5%;
  font: bold 14px arial;
  height: 25px;
  .date {
    position: absolute;
    top: -47px;
    left: 28%;
    color: #000000;
  }
  .point {
    content: "";
    position: absolute;
    top: -8px;
    display: block;
    left: 34%;
    border-radius: 500px;
  }
}

.small-point, .medium-point, .large-point {
  content: "";
  position: absolute;
  top: -8px;
  display: block;
  left: 34%;
  border-radius: 500px;
}

.small-point {
  border-width: 5px !important;
  top: -4px !important;
  left: 40% !important;
}

.medium-point {
  border-width: 11px !important;
  top: -9px !important;
}

.large-point {
  border-width: 16px !important;
  top: -17px !important;
  left: 30% !important;
}

/* Mobile and tablet timeline */
@media screen and (max-width: 510px) {
  .dot-event .date {
    font-weight: normal !important;
    font-size: 12px !important;
  }
  .small-point {
    border-width: 5px !important;
    top: -4px !important;
    left: 40% !important;
  }
  .medium-point {
    border-width: 9px !important;
    top: -7px !important;
  }
  .large-point {
    border-width: 14px !important;
    top: -13px !important;
    left: 32% !important;
  }
}

.moodle {
  border: 0 solid #387db3;
}

.cas {
  border: 0 solid #ff9800;
}

.dot-event .description {
  display: none;
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  font-weight: normal;
  text-align: center;
  width: 12.5em;
  z-index: 1;
}

.description::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f4f4f4;
  position: absolute;
  top: -5px;
  left: 23%;
}

/* ---- Hover effects ---- */

.dot-event:hover {
  cursor: pointer;
  color: #1f1d1e;
  .description {
    display: block;
  }
}

.hide {
  display: none !important;
}

.cbp_tmtimeline > li {
  .cbp_tmlabel_cas {
    margin: 0 0 15px 25%;
    color: #fff;
    padding: 1.2em;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
    background: #ea7d2c;
    &:after {
      right: 100%;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border: 10px solid transparent;
      border-right-color: #ea7d2c;
      top: 10px;
    }
  }
  .cbp_tmlabel_moodle {
    margin: 0 0 15px 25%;
    color: #fff;
    padding: 1.2em;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
    background: #6CBFEE;
    &:after {
      right: 100%;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border: 10px solid transparent;
      border-right-color: #6CBFEE;
      top: 10px;
    }
  }
}

/* The triangle */

/* The triangle */

.more {
  margin-top: 3em;
}

a.check-class {
  font-size: 0.6em;
  color: white;
  float: right;
  line-height: 0.6em;
  &:hover {
    color: #3f5f7f;
  }
}

.page-description {
  margin-top: 1.5em;
  font-size: 1.2em;
  font-style: italic;
}

#enrollments {
  margin-top: 24px;
  font-size: 16px;
}

.professor-label {
  float: right;
  margin-top: -14px !important;
}

.professor-mode {
  position: absolute;
  left: 7px;
  top: 7px;
}

button.dispute-score {
  text-transform: uppercase !important;
  margin-top: 38px !important;
}

.score-chart-padding {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  width: 100% !important;
}

.ui.toggle.checkbox[class*="right floated"] {
  float: right !important;
  margin-right: 0 !important;
  margin-left: 1em !important;
  margin-top: 0.5em !important;
}

.chart-container {
  width: auto;
  height: 350px;


  @include sm {
    margin-right: auto !important;
  }
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

p.score-legal-notice {
  margin-top: 1.5em;
}

.ui .statistic .value {
  font-size: 2.7em !important;
}

#last-week-progression {
  margin-top: 1.3em;
}

span.score-action {}

button.score-action {
  margin-left: 1.4em !important;
  margin-bottom: 0.5em !important;
}

#chart_two {
  width: 100%;
  height: auto;
  padding-bottom: 2em;

  @include sm {
    padding-right: 0;
  }
}

#chart-two-tools {
  margin-top: 3em;

  @include sm {
    margin: 0;
  }
}

.slides {
  background: white;
  height: 13em;
  width: 100%;
  overflow: hidden;
  margin: 2.5em 0;
  .angle {
    color: #a85430;
    cursor: pointer;
    position: relative;
    top: calc(50% - 15px);
    transform: scale(1);
    transition: all .1s ease-in-out;
    z-index: 10;
    &:hover {
      transform: scale(1.7);
    }
    &.right {
      float: right;
      margin-right: 1rem;
    }
    &.left {
      float: left;
      margin-left: 1rem;
    }
  }
  .slide {
    height: 100%;
    padding: 2rem 5rem;
    transition: all .2s ease-in-out;
    &:not(.active) {
      display: none;
    }
    &.inverted {
      color: white;
    }
    &.salmon {
      background: #fa8a56;
    }
  }
}

.faded {
  animation: fade .5s;
}

.blurred {
  animation: blur .4s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes blur {
  from {
    filter: blur(5px);
  }

  to {
    filter: blur(0);
  }
}

p.legend-category:first-child {
  margin-top : 0;
}

p.legend-category {
  margin-top: 2em;
}

#score-success {
  margin-top: 0.5em;
  font-weight: bold;
}

.settings {
  margin-bottom: 4em;
}
