parameters:
    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # MongoDB Settings
    nosql:
      driver: mongodb
      host:
      port: 27017
      database:
      username:
      password:
      'options':
          database: matthews # MongoDB 3 Required

    # CAS Settings
    cas:
      uri:
      port:

    # LDAP Settings
    ldap:
      host:
      port:
      base_dn:
      username:
      password:

    # OpenLRW API Settings
    api:
      uri:  # Must starts with 'http://' or 'https://' and finishes with '/'
      username:
      password:

    # List of super administrators (LDAP uid)
    administrators:
