nosql:
    driver: mongodb
    host:
    port: 27017
    database:
    username:
    password:
    'options':
        database: #MongoDB 3 Required

ldap:
    host:
    port:
    filter:
    base_dn:
    username:
    password:

api:
    url:
    username:
    password: