
<nav class="ui borderless top inverted fixed menu">
    <a href="{{ path_for('home') }}" class="header item">
        <img src="{{ asset('img/ul_logo.png') }}" style="width:100px;"> &nbsp; | &nbsp; ANALYTICS
    </a>
    <a class="item">
        <i class="leaf icon"></i> Onglet 1
    </a>
    <a class="item">
        <i class="leaf icon"></i> Onglet 2
    </a>
    <div class="right menu">
        <a href="{{ path_for('login') }}" class="item">
            <i class="sign in icon"></i> Connexion
        </a>
    </div>

</nav>
