{% extends 'Utility/layout.twig' %}

{% block body %}

<div class="ui container">
    <h1 class="ui center aligned header">OpenDashboard Advanced</h1> <br>
    <h3 class="ui center aligned header">Home page</h3>
</div>

{% endblock %}
