<footer>
    <div class="ui vertical footer segment form-page">
        <div class="ui container">
            <div class="ui stackable relaxed centered grid">
                <div class="four wide column">
                    <h4 class="ui header">
                        Réseaux sociaux
                    </h4>
                    <div class="ui link list">
                        <a class="item" href="https://semantic-ui.com" target="_blank">Semanti-UI</a><a class="item" href="https://nanoc.ws" target="_blank">Nanoc</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui header">
                        Liens utiles
                    </h4>
                    <div class="ui link list">
                        <a class="item" href="http://semantic-ui-forest.com/themes" target="_blank">Themes</a><a class="item" href="http://semantic-ui-forest.com/templates" target="_blank">Templates</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui header">
                        A propos
                    </h4>
                    <div class="ui link list">
                        <a class="item" href="" target="_blank"> Help </a>
                        <a class="item" href="" target="_blank"> Mentions légales </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>