{% extends 'layout.twig' %}

{% block body %}

<div class="ui container">
    <h1 class="ui center aligned header">Application web des Learning Analytics</h1> <br>
    <h3 class="ui center aligned header">mais pour l'instant une page blanche.</h3>

</div>

{% endblock %}
