{% extends 'layout.twig' %}

{% block body %}

<div class="ui container">
    <h1 class="ui center aligned header">Hello World!</h1>
    <hr>
    {% for user in users %}
        - {{ user.user.userId }} <br>
    {% endfor %}
</div>

{% endblock %}
