{% extends 'layout.twig' %}

{% block body %}

    <div class="ui container">
        <h1 class="ui center aligned header">Liste des utilisateurs</h1>
        <hr>
        {% for u in users %}
            - {{ u.user.userId }} <br>
        {% endfor %}
    </div>

{% endblock %}
