{% set i18n = dictionary.profile.enrollments_tab %}

<div id='enrollments' class="ui list">
    {% if enrollments is empty %}
        <h2>{{ i18n.no_result }}</h2>
    {% else %}
        <div class="ui search">
            <div class="ui fluid icon input">
                <input id="filter" class="prompt" type="text" placeholder="Filtrer">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
        <br>
        {% for enrollment in enrollments %}
            <a class="item" href="{{ path('class', {'id': enrollment.class.sourcedId}) }}">
                <i class="folder outline icon"></i>
                <div class="content">
                    <div class="header">{{ enrollment.title }}</div>
                </div>
                {% if auth().professorMode == 'true' or enrollment.role == 'teacher' %}
                    <span class="ui blue tiny basic label professor-label">{{ i18n.professor }}</span>
                {% endif %}
            </a>
        {% endfor %}
    {% endif %}

</div>

<script>
    $(function () {
        $('#filter').on('keyup', () => { filterEnrollments()});
    });
    function filterEnrollments() {
        let filter, element, title, enrollments;
        filter = $('#filter').val().toUpperCase();
        enrollments = $('#enrollments').children('a');

        $.each(enrollments, (key, value) => {
            element = $(value).find('div.content');
            title = element[0].innerText.toUpperCase();
            if (title.indexOf(filter) > -1) {
                element.parent().show()
            } else {
                element.parent().hide()
            }

        });

    }
</script>