{% extends 'Utility/layout.twig' %}

{% block body %}

{% set i18n = dictionary.profile %}

<div class="ui grid">
    <div class="two wide column"></div>

    <div class="twelve wide column">
        <div class="profile-header">
            <i class="big circle user icon"></i>
            <span class="profile-name">{{ auth().name }}</span>
        </div>

        <div class="ui pointing secondary menu">
           <!-- <a class="item " id='summary' data-tab="first">{{ i18n.overview_tab.name }}</a> -->
            <a class="item active" id='courses-tab' data-tab="second">{{ i18n.enrollments_tab.name }}</a>
            <a class="item" id='settings' data-tab="third">{{ i18n.settings_tab.name }}</a>
        </div>

        <!--<div class="ui active tab" data-tab="first"></div> -->
        <div id='my-classes' class="ui active tab" data-tab="second">
            {% include 'User/Student/Profile/enrollments_tab.twig'  %}
        </div>
        <div id='my-settings' class="ui tab" data-tab="third">
            {% include 'User/Student/Profile/settings_tab.twig'  %}
        </div>
    </div>
    <div class="two wide column"></div>
</div>

        <script>
            function toggleMore() {
                $('#see-more').toggle();
                $('#hide-more').toggle();
                $('#more-events').transition({
                   animation  : 'fade up',
                   duration   : '0.7s',
                   onComplete : function() {}
                });
            }

            $(function () {
                $('.menu .item').tab({context: $('#summary')});
                $('#see-more').on('click', () => { toggleMore(); });
                $('#hide-more').on('click', () => { toggleMore(); });

            });

        </script>

{% endblock %}